@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
$primary-color: #bb83cc;
$secondary-color: #a85fb7;
$primary-overlay: rgba(187, 131, 204, 0.6);

body {
  margin-top: 56px !important;
}

.navbar {
  box-shadow: 2px 2px 5px #f0f0f0;
  position: fixed;
  background: #f2f2f2;
  //opacity: 0.9;

  .navbar-brand {

    h3 {
      font-family: 'Sacramento';
      font-weight: bold;
      color: $primary-color;
      text-align: center;
      margin-bottom: -5px;
    }
  }

  #logo-navbar-middle {
    cursor: auto;
  }

  .nav-link {
    color: $primary-color !important;
  }

  .nav-link:hover {
    color: $secondary-color !important;
  }
}

#home {
  background: url('../img/newborn-overlay-bw.jpeg');
  height: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .primary-overlay {
    background-color: $primary-overlay;
    top: 0;
    left: 0;
    height: auto;
  }
}

#about {
  background-color: #f2f2f2;

  .about-header {
    width: 75%;
    margin: auto;
    border-bottom: 2px #ddd solid;
    h1 {
      color: $primary-color;
    }
  }

  .card {
    background-color:#f2f2f2;
    border: 2px $primary-color solid;
    h3 {
      color: $primary-color;
    }
  }

  img {
    margin-top: -50px;
  }

  .fa {
    font-size: 25px;
    color: $primary-color;
  }

  h2, h4 {
    color: $primary-color;
  }
}

#services {
  background:url('../img/holding-foot.jpeg');
  height: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .primary-overlay {
    background-color: $primary-overlay;
    margin: auto;
    top: 0;
    left: 0;

    .about-header {
      width: 100%;
      margin: auto;
      border-bottom: 2px #ddd solid;
      h1 {
       color: $primary-color;
      }
    }

    .card {
      margin: auto;
      border: 2px #f2f2f2 solid;
      background: none;
      color: #fff;

      .card-header {
        padding: 0;
        margin: 0;
      }

      img {
        opacity: 0.7;
      }

      a:hover {
        color: $primary-color;
      }
    }
  }
}

#contact {
  background-color: #f2f2f2;

  .about-header {
    width: 75%;
    margin: auto;
    border-bottom: 2px #ddd solid;
    h1 {
      color: $primary-color;
    }
  }

  .card {
    border: none;
    background: none;

    .card-header {
      color: $primary-color;
      background-color: #f2f2f2;
      border-bottom: none;
    }

    .form-group {

      input, textarea {
        border: 2px $primary-overlay solid;
        background: none;
      }
    }
  }
}

#main-footer {
  background-color: rgba(187, 131, 204, 0.75);
  height: auto;

  a {
    font-size: 2em;
    color: #fff;
  }
}

@media (min-width:768px) {
  body {
    margin-top: 132px !important;
  }

  .navbar {
    opacity: 0.9;
  }

  .nav-item {
    font-size: 2.25em;
    a {
      font-family: 'Shadows Into Light';
    }
  }
}
